.resto-body {
    position: absolute;
    top: 36.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    padding: 20px;
    left: 0;
    right: 0;
}

.resto-body > h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.resto-btn-menu {
    padding: 0.85rem 1.25rem;
    font-size: 1.5rem;
    color: white;
    background-color: green;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-decoration:none;
    margin: 10px;
}

.resto-btn-order {
    padding: 0.85rem 1.25rem;
    font-size: 1.5rem;
    color: white;
    background-color: blue;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}